<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <div class="toolbar">
	<div class="top">
      <a class="active" href="#" title="Dashboard"><i class="fa fa-home"></i><span>Dashboard</span></a>
      <a href="#" title="Projects"><i class="fa fa-folder-open"></i><span>Projects</span></a>
      <a href="#" title="Experiments"><i class="fa fa-flask"></i><span>Experiments</span></a>
    </div>
	<div class="bottom">
      <a href="#" title="Search"><i class="fa fa-search"></i><span>Search</span></a>
      <a href="#" title="Settings"><i class="fa fa-cog"></i><span>Settings</span></a>
	</div>
  </div>
</html>
